.output {
  /* display: flex; */
  /* justify-content: center; */
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border-width: 1.5px;
  border-color: gray;
  border-style: solid;
  transition: background-color 0.2s;
}

button:hover {
  background-color: lightgray;
}

.text-center {
  text-align: center;
}

#output {
  padding-top: 15px;
}
